:root {
  --color-background: #343a40;
  --color-background-light: #868e96;
  --color-text: #f8f9fa;
  --color-player-0: #38d9a9;
  --color-player-1: #da77f2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 5rem 0;
}
@media only screen and (max-width: 37.5em) {
  .header {
    justify-content: space-between;
  }
}
.header__player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
}
.header__player {
  font-size: 2rem;
}
.header__player-selected {
  width: 120%;
  height: 3rem;
  background-color: transparent;
  outline: 1rem solid goldenrod;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}
.header__player-selected--player-2 {
  transform: translate(-50%, 4rem);
}
.header__reset {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: rgb(22, 205, 74);
}
.header__reset:hover {
  background-color: #38d9a9;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
}
.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__button {
  background: rgb(22, 205, 74);
  height: 100%;
  width: 100%;
}
.grid__button:hover {
  background-color: #38d9a9;
}
.grid__button--disabled {
  pointer-events: none;
}
.grid__icon {
  font-size: 3rem;
}

.modal {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.modal__container {
  background-color: var(--color-background);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  border-radius: 20px;
  overflow: hidden;
}
.modal__header {
  padding: 1rem;
}
.modal__close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal__content {
  padding: 2rem 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}
.modal__text {
  font-size: 3rem;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.show-modal {
  opacity: 1;
  visibility: visible;
}
.show-modal .modal__button,
.show-modal .modal__overlay,
.show-modal .btn-close {
  cursor: pointer;
}

.btn-close {
  padding: 0.4rem;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-text);
}
.btn-close:hover {
  background: rgba(0, 0, 0, 0.15);
}
.btn-close__icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: var(--light);
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.3s;
}/*# sourceMappingURL=style.css.map */